// ===================================================
// IMPORT SETUP STYLES
//====================================================
@import "setup";

// ===================================================
// VARIABLES & MIXINS
//====================================================
$black: #383838;   
$blue: #1893cc;
$green: #bed993;     
$white: #f7f6ed; 
$text-grey: #838383;

@mixin nicebox(){
	box-shadow: 0px 2px 10px rgba(0,0,0,.3),0px 0px 1px rgba(0,0,0,.1),inset 0px 1px 0px rgba(255,255,255,.25),inset 0px -1px 0px rgba(0,0,0,.15);
}
@mixin max-width(){
	max-width: 1000px;
	margin:0 auto;
}


// ===================================================
// GENERAL STYLES
// ===================================================
a{
	text-decoration: none;
	color: $white;
}
body{
	color: $white;
	overflow-x:hidden;
}
p{
	letter-spacing: 1px;
}


// ===================================================
// HEADER STYLES
// ===================================================

main{
	background: $blue;
}
.hero{
	background: $blue;
}
.hero-wrapper{
	@include max-width();
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: $white;
	padding-bottom: 40px;
	padding-top: 30px;
	form{
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		a{
			margin: auto;
		}
		input{
			text-align: center;
			width: 60%;
			margin: 5px auto 20px auto;
			font-size: 18px;
			color: $text-grey;
			padding: 5px 15px 5px 15px;
			border: none;
			border-radius: 20px;
		}
		p{
			margin: 0;
		}
	}//form
}//hero-wrapper
p.lead{
	//transform: rotate(-10deg);
	margin:0;
	span{
		font-size: 25px;
		text-shadow: 1px 1px 2px $black; 

	}
}
.hero-button{
	background: $green;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin: 2% 1% 0 1%;
	display:flex;
	justify-content: center;
	text-align: center;
	transition: all .3s ease;
	border: none;
	border-bottom: 3px solid darken($green, 30%);
	@include nicebox();
	&:hover{
		background: $white;
		i{
			color: $green;
		}
	}
	i{
		font-size: 30px;
		margin: auto;
		color: $white;
	}
}
.hero-logo{
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	text-align: center;
	width: 100%;
	transform: rotate(-10deg);
	padding: 7% 0 5% 0;
	i{
		color: salmon;
		font-size: 60px;
	}
	img{
		width: 40%;
		max-width: 300px;
	}
}
.hero-submit{
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;
}
form{
	padding-top:20px;
}

// ===================================================
// LOCATION STYLES
// ===================================================

.locations-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.map{
	width: 100%;
	height: 400px;
	background: url(../assets/map-start.png);
	background-size: cover;
}
.store{
	padding: 8px;
	&:hover{
		background: darken($green, 5%);
	}
}
.store-top{
	position: relative;
	padding-bottom: 15px;
}
.stores-wrapper{
	background: $green;

}
.stores-items-wrapper{
	@include max-width();
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: $white;
	span{
		margin: 0 auto;
		text-align: center;
		background: salmon;
		border-bottom: 3px solid darken(salmon, 5%);
		position: absolute;
		top: -33px;
		left: 40%;
		&:hover{
			background: darken(salmon, 5%);
			i{
				color: $white;
			}
			
		}//hover
	}//span
}//stores-items-wrapper
.selected-store{
	background: salmon;

}
.store-bottom{
	text-align: center;
	padding-bottom: 25px;
	p{
		margin: 0;
		margin-top: 5px;
		&:first-child{
			text-shadow: 1px 1px 2px $black;
			font-size: 18px;
			color: $white;
		} //first-child
	} //p
}//store-bottom


// ===================================================
// GALLERY STYLES
// ===================================================
.promotions-title{
	text-align: center;
}
.gallery{
	padding: 45px 0;
	background: lighten($blue, 5%);
}
.gallery-cell{
	width: 25%;
	margin-right: 10px;
	position: relative;
	//height: 400px;
	img{
		width:100%;
		border-radius: 25px;
	}
	p{
		margin: 5px 0;
		text-align: center;
		&:nth-child(4){
			font-size: 12px;
			position: absolute;
			top:190px;
			padding: 5px;
			padding-left: 10px;
			right:0;
			background: salmon;

		}//nth-child
	}//p
} //gallery-cell
.flickity-page-dots{
	bottom: 8px;
}
.item-price{
	position: absolute;
	top: 150px;
	right: 0;
	background: $green;
	padding: 7px;
	padding-left: 15px;
	color: $black;
	font-size: 20px;
}
.reward-miles{
	position: absolute;
	top: 7px;
	right: 7px;
	background: lighten($blue, 10%);
	color: $white;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	font-size: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotate(10deg);
	flex-direction: column;
	border-bottom: 3px solid darken($blue, 30%);
	p{
		margin:0;
		margin-bottom: 1px;
	}
	.bonus-number{
		font-size: 23px;
		text-shadow: 1px 1px 2px $black; 
	}
}//reward-miles


// ===================================================
// FOOTER STYLES
// ===================================================

footer{
	padding: 1%;
	text-align: center;
	background: $blue;
	font-size: 12px;
	color: $white;
	border-top: 2px solid darken($blue, 5%);
	a{
		color: $white;
		&:hover{
			color: $green;
			text-decoration: underline;
		}
	}
}

// ===================================================
// RESPONSIVE STYLES
// ===================================================

@media all and (max-width: 670px){
	.gallery-cell{
		width: 50%;
	}
	footer{
		font-size: 12px;
	}
}

@media all and (max-width: 500px){
	.hero-wrapper form input{
		width: 90%;
	}
	p.lead{
		padding: 0px 50px;
	}
	.store{
		font-size: 12px;
	}
	.store-bottom p:first-child{
		font-size: 14px;
	}
	.stores-items-wrapper span{
		left: 35%;
	}
}

@media all and (max-width: 345px){
	.gallery-cell{
		width: 75%;
	}


}
























