// IMPORT SETUP STYLES
//===================================================
@import "setup";

// VARIABLES
//===================================================
$black: #000;   
$blue: #1893cc;
$green: #bed993;     
$white: #f7f6ed; 


// GENERAL STYLES
// ===================================================

