article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

*, *:before, *:after {
  box-sizing: border-box; }

/* END OF SETUP STYLES */
a {
  text-decoration: none;
  color: #f7f6ed; }

body {
  color: #f7f6ed;
  overflow-x: hidden; }

main {
  max-width: 900px;
  margin: 0 auto;
  background: #1893cc; }

.hero-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #f7f6ed;
  margin-bottom: 3%; }
  .hero-wrapper form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
    .hero-wrapper form a {
      margin: auto; }
    .hero-wrapper form input {
      text-align: center;
      width: 60%;
      margin: 0 auto;
      font-size: 20px;
      color: #bed993;
      padding: 1%;
      border: none;
      border-radius: 20px; }
    .hero-wrapper form p {
      margin: 0; }

p.lead {
  margin: 10px 0 10px 0; }
  p.lead span {
    font-size: 25px;
    text-shadow: 1px 1px 2px #383838; }

.hero-button {
  background: #bed993;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 2% 1% 0 1%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  border-bottom: 3px solid #759c37;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.15); }
  .hero-button:hover {
    background: #f7f6ed; }
    .hero-button:hover i {
      color: #bed993; }
  .hero-button i {
    font-size: 30px;
    margin: auto;
    color: #f7f6ed; }

.hero-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
  padding: 5% 0; }
  .hero-logo i {
    color: salmon;
    font-size: 60px; }
  .hero-logo img {
    width: 50%; }

.hero-submit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.locations-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #bed993; }

.map {
  width: 100%;
  height: 400px;
  background: salmon; }

.stores-items-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .stores-items-wrapper span {
    margin: 0 auto;
    text-align: center;
    background: salmon;
    border-bottom: 3px solid #f96a59; }
    .stores-items-wrapper span:hover {
      background: #f96a59; }
      .stores-items-wrapper span:hover i {
        color: #f7f6ed; }

.store-bottom {
  text-align: center; }
  .store-bottom p {
    margin: 0;
    margin-top: 5px; }
    .store-bottom p:first-child {
      text-shadow: 1px 1px 2px #383838;
      font-size: 18px; }

.promotions-title {
  text-align: center; }

.gallery-cell {
  width: 25%;
  margin-right: 10px;
  position: relative; }
  .gallery-cell img {
    width: 100%;
    border-radius: 25px; }
  .gallery-cell p {
    margin: 5px 0; }

.reward-miles {
  position: absolute;
  top: 7px;
  right: 7px;
  background: #1893cc;
  color: #f7f6ed;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 3px solid #083043; }
  .reward-miles p {
    margin: 0;
    margin-bottom: 1px; }
  .reward-miles .bonus-number {
    font-size: 23px;
    text-shadow: 1px 1px 2px #383838; }

footer {
  padding: 5%;
  text-align: center;
  background: #bed993;
  color: #f7f6ed; }
